ul {
  list-style: none;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}

li {
  margin-bottom: 16px;
}
